<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal</Template><TotalTime>43</TotalTime><Pages>7</Pages><Words>933</Words><Characters>5136</Characters><Application>Microsoft Office Word</Application><DocSecurity>0</DocSecurity><Lines>42</Lines><Paragraphs>12</Paragraphs><ScaleCrop>false</ScaleCrop><Company>HP</Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>6057</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>16.0000</AppVersion></Properties>